@model SESOPtracker.Models.Entities.Equipamento

@{
    ViewData["Title"] = "Equipamento " + ViewBag.patrimonio;
    var historico = ViewBag.Historico as SESOPtracker.Models.Entities.Historico;
    var options = new System.Text.Json.JsonSerializerOptions {
        ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve,
        WriteIndented = true
    };

    var modelJson = System.Text.Json.JsonSerializer.Serialize(Model, options);
}

<header>
    <div>
        <button>
            <a asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
            </a>
        </button>
        <span> EDITAR </span>
        <p> Editar um equipamento </p>
    </div>
</header>

<section>
    @if (TempData["NoChanges"] != null) {
        <div class="alert alert-danger">
            Não foi possível enviar pois nenhuma alteração foi realizada
        </div>
    }

    <form asp-action="Edit" id="editForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="patrimonio" class="control-label"></label>
                    <fieldset>
                        <input asp-for="patrimonio" readonly/>
                    </fieldset>
                    <span asp-validation-for="patrimonio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="item" class="control-label"></label>
                    <fieldset>
                        <input asp-for="item" />
                    </fieldset>
                    <span asp-validation-for="item" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <fieldset>
                        <input asp-for="nome" />
                    </fieldset>
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="setor" class="control-label"></label>
                    <fieldset>
                        <input asp-for="setor" style="text-transform: uppercase" ; />
                    </fieldset>
                    <span asp-validation-for="setor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="subCategoria" class="control-label"></label>
                    <fieldset>
                        <input asp-for="subCategoria" />
                    </fieldset>
                    <span asp-validation-for="subCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="categoria" class="control-label"></label>
                    <fieldset>
                        <select>
                            <option value="Informática" selected="@(Model.categoria == "Informática")"> Informática </option>
                            <option value="Audiovisual" selected="@(Model.categoria == "Audiovisual")"> Audiovisual </option>
                            <option value="Mobília" selected="@(Model.categoria == "Mobília")"> Mobília </option>
                            <option value="Telefonia" selected="@(Model.categoria == "Telefonia")"> Telefonia </option>
                        </select>
                        <input asp-for="categoria" hidden />
                    </fieldset>
                    <span asp-validation-for="categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="situacao" class="control-label"></label>
                    <fieldset>
                        <select asp-for="situacao" class="situacao-select" asp-items="ViewBag.situacao"></select>
                    </fieldset>
                    <span asp-validation-for="situacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sala" class="control-label"></label>
                    <fieldset>
                        <select asp-for="sala" class="situacao-select" asp-items="ViewBag.sala">
                            <option value="" disabled selected> Selecione uma sala </option>
                        </select>
                    </fieldset>
                    <span asp-validation-for="sala" class="text-danger"></span>
                </div>
            </div>
        </div>

        <input asp-for="dataCriacao" hidden />
        <button type="button" class="btn-default" data-bs-toggle="modal" data-bs-target="#editEquipment">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
            </svg>
        </button>

        <div class="modal fade" id="editEquipment" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2> Adicione mais algumas informações </h2>
                        <p> Se quiser, descreva alguma observação para a alteração ou marque como importante </p>
                        <div>
                            <div class="form-group">
                                <label id="observacao" name="observacao" class="control-label">Observação</label>
                                <fieldset>
                                    <input id="observacao" name="observacao" />
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="importante" name="importante" hidden>
                                <label for="importante"></label>
                                <span> Marcar como importante </span>
                            </div>

                            <input id="dataAlteracao" name="dataAlteracao" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" hidden />
                            <input id="descricao" name="descricao" hidden />
                        </div>
                    </div>
                    <footer class="modal-footer">
                        <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn-default" />
                    </footer>
                </div>
            </div>
        </div>
    </form>
</section>


<script src="/js/create-sala.js"></script>
@section Scripts {
    <script>
        var equipamentoOriginal = @Html.Raw(modelJson);

        function setDescricao() {
            let item = document.getElementById("item").value
            let nome = document.getElementById("nome").value
            let setor = document.getElementById("setor").value
            let subcategoria = document.getElementById("subCategoria").value
            let categoria = document.getElementById("categoria").value
            let situacao = document.getElementById("situacao").value
            let sala = document.getElementById("sala").value

            item = item == "" ? null : item
            nome = nome == "" ? null : nome
            setor = setor == "" ? null : setor

            let descricaoAlteracoes = []

            if (equipamentoOriginal.item != item) {
                if (equipamentoOriginal.item == null) {
                    descricaoAlteracoes.push(`Item alterado para '${item == null ? "nulo" : item}'`);
                } else {
                    descricaoAlteracoes.push(`Item alterado de '${equipamentoOriginal.item}' para '${item}'`);
                }
            }

            if (equipamentoOriginal.nome != nome) {
                if (equipamentoOriginal.nome == null) {
                    descricaoAlteracoes.push(`Nome alterado para '${nome == null ? "nulo" : nome}'`);
                } else {
                    descricaoAlteracoes.push(`Nome alterado de '${equipamentoOriginal.nome}' para '${nome}'`);
                }
            }

            if (equipamentoOriginal.subCategoria != subcategoria) {
                descricaoAlteracoes.push(`Subcategoria alterada de '${equipamentoOriginal.subCategoria}' para '${subcategoria}'`);
            }

            if (equipamentoOriginal.categoria != categoria) {
                descricaoAlteracoes.push(`Categoria alterada de '${equipamentoOriginal.categoria}' para '${categoria}'`);
            }

            if (equipamentoOriginal.setor != setor) {
                if (equipamentoOriginal.setor == null) {
                    descricaoAlteracoes.push(`Setor alterado para '${setor == null ? "nulo" : setor}'`);
                } else {
                    descricaoAlteracoes.push(`Setor alterado de '${equipamentoOriginal.setor}' para '${setor}'`);
                }
            }

            if (equipamentoOriginal.situacao != situacao) {
                descricaoAlteracoes.push(`Situação alterada para '${document.getElementById("situacao").querySelector("[selected]").innerText}'`);
            }

            if (equipamentoOriginal.sala != sala) {
                descricaoAlteracoes.push(`Sala alterada de '${equipamentoOriginal.sala}' para '${sala}'`);
            }

            let descricao = descricaoAlteracoes.join(", ");
            document.getElementById("descricao").value = descricao
        };

        document.querySelector("[data-bs-target='#editEquipment']").addEventListener('click', () => setDescricao());

        function cancelEdit() {
            window.location.href = '@Url.Action("Index", "Equipamentos")';
        }
    </script>
}


