@model IEnumerable<SESOPtracker.Models.Entities.Sala>

@{
    ViewData["Title"] = "Salas";
}

<header>
    <div class="searchbar">
        <fieldset>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <input placeholder="Pesquise por uma sala" />
        </fieldset>
        <a class="btn-default" asp-action="Create">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg>
            Adicionar sala
        </a>
    </div>
</header>

<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.local)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descricao)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr onclick="location.href='@Url.Action("Details", new { id = item.salaId })'">
                <td>
                    @Html.DisplayFor(modelItem => item.local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>

<script src="/js/search.js"></script>