@model IEnumerable<SESOPtracker.Models.Entities.Sala>

@{
    ViewData["HeaderTitle"] = "Salas";
    ViewData["Title"] = "Salas";

    var addedSala = TempData["AddSala"] as bool? ?? false;
    var deletedSala = TempData["DeleteSala"] as bool? ?? false;
    var editSala = TempData["EditSala"] as bool? ?? false;
}

<section>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.local)  </th>
                    <th> @Html.DisplayNameFor(model => model.descricao)  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", new { id = item.salaId })'">
                        <td> @Html.DisplayFor(modelItem => item.local)  </td>
                        <td> @Html.DisplayFor(modelItem => item.descricao)  </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</section>

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body"></div>
    </div>
</div>

<script type="module">
    import { toast } from "/js/toast.js"

    document.addEventListener("DOMContentLoaded", function() {
        let deletedSalaToast = "@deletedSala"
        let addedSalaToast = "@addedSala"
        let editSalaToast = "@editSala"

        if (deletedSalaToast == "True") {
            toast("success", "Sala deletada com sucesso!")
            return;
        }

        if (addedSalaToast == "True") {
            toast("success", "Sala adicionada com sucesso!")
            return;
        }

        if (editSalaToast == "True") {
            toast("success", "Sala editada com sucesso!")
            return;
        }
    })
</script>