@model IEnumerable<SESOPtracker.Models.Entities.Equipamento>

@{
    var viewBy = ViewData["viewBy"] as string;
}

<div class="searchbar">
    <fieldset>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <input placeholder="Pesquise por um equipamento" />
    </fieldset>
</div>
<div>
    <fieldset>
        <select id="viewBy">
            <option value="" selected="@(viewBy == null)">Patrimônio</option>
            <option value="Categoria" selected="@(viewBy == "Categoria")">Categoria</option>
            <option value="Situacao" selected="@(viewBy == "Situacao")">Situação</option>
            <option value="Sala" selected="@(viewBy == "Sala")">Sala</option>
            <option value="Setor" selected="@(viewBy == "Setor")">Setor</option>
        </select>
    </fieldset>
</div>
<hr class="hl-vertical" />
<a class="btn-default" asp-action="Create" asp-controller="Equipamentos">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
    </svg>
    Adicionar equipamento
</a>

<script>
	import { countRows } from "/js/search.js"
	var viewBy = ""
	document.addEventListener("DOMContentLoaded", () => {
		document.getElementById('viewBy').addEventListener('change', function() {
			viewBy = this.value;
			var url = '@Url.Action("Index", "Equipamentos")' + '?viewBy=' + viewBy;
			window.location.href = url;
		});

		countRows()
	})
</script>
