@model IEnumerable<SESOPtracker.Models.Entities.Equipamento>

@{
    var viewBy = ViewData["viewBy"] as string;
}

<div class="searchbar">
    <fieldset>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><circle cx="11" cy="11" r="8" /><path d="m21 21-4.3-4.3" /></svg>
        <input placeholder="Pesquise por um equipamento" />
    </fieldset>
</div>
<div>
    <fieldset>
        <select id="viewBy">
            <option value="" selected="@(viewBy == null)">Patrimônio</option>
            <option value="Categoria" selected="@(viewBy == "Categoria")">Categoria</option>
            <option value="Situacao" selected="@(viewBy == "Situacao")">Situação</option>
            <option value="Sala" selected="@(viewBy == "Sala")">Sala</option>
            <option value="Setor" selected="@(viewBy == "Setor")">Setor</option>
        </select>
    </fieldset>
</div>
<hr class="hl-vertical" />
<a class="btn-default" asp-action="Create" asp-controller="Equipamentos">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14" /><path d="M12 5v14" /></svg>
    Adicionar equipamento
</a>

<script type="module">
	import { countRows } from "/js/search.js"
	var viewBy = ""
	document.addEventListener("DOMContentLoaded", () => {
		document.getElementById('viewBy').addEventListener('change', function() {
			viewBy = this.value;
			var url = '@Url.Action("Index", "Equipamentos")' + '?viewBy=' + viewBy;
			window.location.href = url;
		});

		countRows()
	})
</script>
