@model SESOPtracker.Models.Entities.Situacao

@{
    ViewData["Title"] = Model.descricao;
    ViewData["HeaderTitle"] = "Situação " + Model.descricao;
}

<section>
    <main>
        <p> Situação </p>
        <h1> <span style="background: @Model.cor"></span> @Model.descricao </h1>
        <p> <span> HEX </span> @Html.DisplayFor(modelItem => Model.cor) </p>
        <p> <span> RGB </span> @Model.ToRgb(Model.cor) </p>
    </main>

    <h5> Equipamentos relacionados </h5>

    <div class="list">
        @if (Model.Equipamentos == null || !Model.Equipamentos.Any()) {
            <p> Nenhum equipamento relacionado </p>
        } else {
            @foreach (var equipamento in Model.Equipamentos) {
                <a class="equipamento" asp-controller="Equipamentos" asp-action="Details" asp-route-id="@equipamento.patrimonio">
                    <header>
                        <span style="background: @Model.cor"></span>
                        <p> @Model.descricao </p>
                    </header>
                    <span> @equipamento.categoria - @equipamento.subCategoria </span>
                    <h3> @equipamento.patrimonio </h3>

                    @if (equipamento.item != null) { <div><span> item: </span> <span> @equipamento.item </span></div> }
                    @if (equipamento.nome != null) { <div><span> nome: </span> <span> @equipamento.nome </span></div> }

                    <footer>
                        <p> Sala @equipamento.Sala.local </p>
                    </footer>
                </a>
            }
        }
    </div>
</section>

<div class="modal fade" id="deleteSituacao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Tem certeza que seja deletar a situação '@Model.descricao' ?</h2>
                <p>Ao concordar em deletar, todos os dados da situação, incluindo os equipamentos que estão vinculados a ela, serão perdidos.</p>
                <div>
                    <p> <span> @Html.DisplayNameFor(model => model.descricao) </span> @Html.DisplayFor(modelItem => Model.descricao) </p>
                    <p> <span> @Html.DisplayNameFor(model => model.cor) </span> @Html.DisplayFor(modelItem => Model.cor) </p>
                </div>
                <p> Há @Model.EquipamentosCount @(Model.EquipamentosCount != 1 ? "equipamentos" : "equipamento") aqui </p>
            </div>
            <form class="modal-footer" asp-action="DeleteConfirmed">
                <input type="hidden" name="id" value="@Model.situacaoId" />
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" value="Sim, deletar" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>