@model IEnumerable<SESOPtracker.Models.Entities.Situacao>

@{
    ViewData["HeaderTitle"] = "Situações";
    ViewData["Title"] = "Situações";

    var addedStatus = TempData["AddStatus"] as bool? ?? false;
    var deletedStatus = TempData["DeleteStatus"] as bool? ?? false;
    var editStatus = TempData["EditStatus"] as bool? ?? false;
}

<section>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.descricao)  </th>
                    <th> @Html.DisplayNameFor(model => model.cor)  </th>
                    <th> HEX </th>
                    <th> RGB </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", new { id = item.situacaoId })'">
                        <td> @Html.DisplayFor(modelItem => item.descricao)  </td>
                        <td> <span style="background: @Html.DisplayFor(modelItem => item.cor)"></span> </td>
                        <td>  @Html.DisplayFor(modelItem => item.cor) </td>
                        <td> @item.ToRgb(item.cor) </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</section>

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body"></div>
    </div>
</div>

<script type="module">
    import { toast } from "/js/toast.js"

    document.addEventListener("DOMContentLoaded", function() {
        let deletedStatusToast = "@deletedStatus"
        let addedStatusToast = "@addedStatus"
        let editStatusToast = "@editStatus"

        if (deletedStatusToast == "True") {
            toast("success", "Situação deletada com sucesso!")
            return;
        }

        if (addedStatusToast == "True") {
            toast("success", "Situação adicionada com sucesso!")
            return;
        }

        if (editStatusToast == "True") {
            toast("success", "Situação editada com sucesso!")
            return;
        }
    })
</script>